*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
 }
.clearfix:before,
.clearfix:after {
   content: " ";
   display: table;
}

.clearfix:after {
   clear: both;
}

.clearfix {
   *zoom: 1;
}
.container {
    border: 10px solid purple;
    max-width: 1128px;
    margin: 0 auto;
 }

body {
    width: 100%;
    height: 100vh;
    
    background-color: black;
    background-size: cover;
   

    font-family: "Poiret One", sans-serif; 
}

header {
    border: 2px solid blue;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
    padding: 18px 24px;  
}
.navbar-mobile {
    border: 1px solid green;
    margin: 0 auto;

    justify-content: space-between;
    align-items: center;

    display: none;   
}
.logo1 img {
    width: 50px;
    height: 50px;
}
.logo2 img {
    width: 50px;
    height: 50px;
}
@media (max-width: 768px) {
    .navbar-mobile {
        display: flex;    
    }
}
.navbar-desktop {
    border: 1px solid red;

    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-desktop a {
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: 1px solid white;

    margin: 8px 12px;
    

    padding: 8px 16px;

    border-radius: 14px;
    width: 200px;
    height: 54px;

    text-decoration: none;
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: ease-in-out .8s;

    position: relative;
}
a:hover {
    color: black;
    background-color: white;
    transform: scale(1.05);
}
@media (max-width: 768px) {
    .navbar-desktop{
        display: none;
    }
    nav {
        display: flex;
        flex-direction: column;
    }
}
.hero{
    border: 1px solid red;
    max-width: 1200px;
    margin: 0 auto;
    
    
}
.content {
    border: 1px solid red;
    max-width: 1200px;
    margin: 0 auto;
    color: #fbfcfd; 
    padding: 32px 64px;
}
.content h1{
    margin-bottom: 16px;
}
.content h1:nth-child(2){
    margin-bottom: 16px;
    color: red;
}

.content h3{
    margin-bottom: 16px;
}
.content h4{
    margin-bottom: 16px;
}


.img-web{
    border: 1px solid blue;
    width: 100%;
    height: 100%;
    

    display: flex;
    justify-content: center;
    align-items: center;
  
   
    top: 0;
    left: 0;
    position: absolute;

    z-index: -1;
    overflow: hidden;
}
.img-web img{
    opacity: .3;
}

h1 {
    font-size: 64px;
    line-height: 100%; 
}
h2 {
    font-size: 52px;
    line-height: 110%;
}
h3{
    font-size: 36px;
    line-height: 120%;
}
h4{
    font-size: 24px;
    line-height: 130%;
}
h5{
    font-size: 14px;
    line-height: 140%;
}
p{
    font-size: 24px;
    line-height: 130%;
}

.side-bar {
    border: 2px solid green;
    width: 5.5em;
    height: 100%;
    background: linear-gradient(#00545d, #000729);
    position: fixed;
    right: 0;
    top: 0;  
}
.social-links img, .useful-links img {
    width: 40px;
    margin: 5px auto;
    cursor: pointer;
}
.social-links {
    width: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.useful-links {
    width: 50px;
    text-align: center;
    position: absolute;
    bottom: 30px;
}
.bubbles img {
    width: 50px;
    animation: bubble 7s linear infinite;
}
.bubbles {
    border: 1px solid green;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
@keyframes bubble{
    0%{
       transform: translateY(0); 
       opacity: 0;
    }
    50%{
        
        opacity: 1;
    }
    70%{
         
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh); 
        opacity: 1;
    }
}
.bubbles img:nth-child(1){
    animation-delay: 2.5s;
    width: 25px;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
}
.bubbles img:nth-child(3){
    animation-delay: 7s;
    width: 40px;
}
.bubbles img:nth-child(4){
    animation-delay: 4.5s;
}
.bubbles img:nth-child(5){
    animation-delay: 3s;
    width: 20px;
}
.bubbles img:nth-child(6){
    animation-delay: 6s;
}
.bubbles img:nth-child(7){
    animation-delay: 7s;
    width: 35px;
}


footer {
    border: 1px solid red;
    font-size: 8px;
    padding: 32px 64px;

    margin: 0px auto;
    color: #fbfcfd;
    
    max-width: 1200px;
 
    font-weight: lighter; 
}


