:root {
    --primary-color: #fd951f;
    --bg-color: #130f0d;
    --text-color: #f0f0f5;
    --light-color: rgba(255,255,255,0.04);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Amatic SC', 'Poiret One', cursive;
    height: 100%;
}

body {
    height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: var(--bg-color);
    color: var(--text-color);
}

form {

    font-size: 20px;
    background: rgba(255,255,255,0.03);

    width: 100%;
    max-width: 500px;

    margin: 32px auto;
    padding: 32px 64px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form h2 {
    margin-bottom: 24px;
}

div .input{
    margin-bottom: 24px;
    position: relative;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,

select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
 
  -webkit-text-fill-color:var(--text-color);
  -webkit-box-shadow: rgba(255,255,255,0.03);
  transition: background-color 5000s ease-in-out 0s;
}

input,
button {
    /* reset appeareance */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    

    /* box */
    width: 100%;

    padding: 16px 0;

    border:none;
    border-bottom: 1px solid var(--primary-color);

    background-color: transparent;

    outline: none;

    /* text */
    color: var(--text-color);
    font-size: 1em;

}
input ~ label {
    position: absolute;
    top: 16px;
    left: 0;

    color: rgba(255, 255, 255, 0.6) ;

    transition: .4s;
}

input:focus ~ label,
input:valid ~ label {
    transform: translateY(-24px);
    font-size: 0.8em;
    letter-spacing: 0.1em;
}


.input span.error {
    display: flex;
    
    padding: 0;

    background-color: rgba(255, 0, 0, 0.2);
}

.input span.error.active {
    border: 1px solid red;
    padding: 0.4em;
}

button {
    color: #fbfcfd;

    margin-top: 16px;
    padding: 10px 25px;

    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;

    font-family: "Poiret One", cursive;

 
   
}

.footer {
    color: #fbfcfd;
    position:absolute;
    bottom:0;
    width:100%;
    display: flex;
    justify-content: center;
    font-weight: lighter;

    margin-bottom: 2em;
   
}